<ion-header>
  <ion-toolbar color="barras">
    <div class="titulo">
      <ion-img src="../../../assets/img/logo.png" alt="" style="width: 30px;" class="logo"></ion-img>
      <ion-title>{{filtro}}</ion-title>
    </div>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> 

<!-- <app-header></app-header> -->




<ion-content [fullscreen]="true">

  <ion-grid>
    <div class="destacados">
      <div class="titulo">
        <h1 class="ion-text-center ion-padding">{{titulo}} {{filtro}}</h1>
        <!-- <ion-img src="../../../assets/img/sword.webp" class="logo2" style="width: 30px;"></ion-img> -->
      </div>
    <ion-row>
      <ion-col size="12">
        <ion-card class="carta">
          <img alt="ffxvi" src="../../../assets/img/ffxvi.jpeg" class="ion-width-100"/>
          <ion-card-header>
            <ion-card-title class="ion-text-center">Final Fantasy XVI</ion-card-title>
          </ion-card-header>
          <h4 class="ion-margin">Playstation<mat-icon svgIcon="play" class="plat"></mat-icon></h4>
          <h5 class="ion-margin">Precio : $40.000</h5>
          <button mat-fab extended class="boton" color="primary">
            <mat-icon svgIcon="buy"></mat-icon>
            Comprar
          </button>
          <button mat-fab extended class="boton2">
            <mat-icon>star</mat-icon>
            Añadir a la lista de deseos
          </button>
        </ion-card>
      </ion-col>
      <ion-col size="12">
        <ion-card class="carta">
          <img alt="ffxvi" src="../../../assets/img/bg3.jpg" class="ion-width-100"/>
          <ion-card-header>
            <ion-card-title class="ion-text-center">Baldurs Gate 3</ion-card-title>
          </ion-card-header>
          <h4 class="ion-margin">Steam<mat-icon svgIcon="steam" class="plat"></mat-icon></h4>
          <h5 class="ion-margin">Precio : $40.000</h5>
          <button mat-fab extended class="boton" color="primary">
            <mat-icon svgIcon="buy"></mat-icon>
            Comprar
          </button>
          <button mat-fab extended class="boton2">
            <mat-icon>star</mat-icon>
            Añadir a la lista de deseos
          </button>
        </ion-card>
      </ion-col>
      <ion-col size="12">
        <ion-card class="carta">
          <img alt="ffxvi" src="../../../assets/img/d4.png" class="ion-width-100"/>
          <ion-card-header>
            <ion-card-title class="ion-text-center">Diablo IV</ion-card-title>
          </ion-card-header>
          <h4 class="ion-margin">Xbox<mat-icon svgIcon="xbox" class="plat"></mat-icon></h4>
          <h5 class="ion-margin">Precio : $40.000</h5>
          <button mat-fab extended class="boton" color="primary">
            <mat-icon svgIcon="buy"></mat-icon>
            Comprar
          </button>
          <button mat-fab extended class="boton2">
            <mat-icon>star</mat-icon>
            Añadir a la lista de deseos
          </button>
        </ion-card>
      </ion-col>
    </ion-row>
  </div> 
  </ion-grid>

<br>
</ion-content>


<app-tabs></app-tabs>