
.lista-deseos{
    margin: 5px;
    margin-top: 50px;
    background-color: rgba(138, 235, 218, 0.5);
    box-shadow: 0 4px 8px rgba($color: #000000, $alpha: 1.0);
    color: #000000;
    border-radius: 15px;
    border: 1px solid  #000000;
}



.lista{
    margin: 5px;
    margin-top: 50px;
    color: #000000;
    box-shadow: 0 4px 8px rgba($color: #000000, $alpha: 1.0);
    background-color: rgba(138, 235, 218, 0.4);
    border-radius: 10px;
    border: 1px groove  #000000; 
}

.negro{
    color: #000000;
    
}

.orden{
    display: flex;
    flex-direction: column;
    margin-top: -15px;
}

.avatar{
    transform: scale(1);
    object-fit: cover;
}
.distancia{
    border: 1px groove  #000000;
    padding: 5px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba($color: #000000, $alpha: 1.0);
    margin-top: 20px;
    margin-bottom: 30px;
}

.boton-eliminar{
    margin-top: 5px;
    margin-left: 20px;
    box-shadow: none !important;
}

.boton-compra{
    margin-top: 5px;
    margin-left: 20px;
    box-shadow: none !important;
}


@media (max-width:424px)  {
    .boton-eliminar{
        margin-top: 5px;
        margin-left: 5px;
        box-shadow: none !important;
    }
    
    .boton-compra{
        margin-top: 5px;
        margin-left: 5px;
        box-shadow: none !important;
    }
    
    
    
}