



.admin-registro{
    margin: 30px;
    padding: 40px;
    background-color: rgba(138, 235, 218, 0.6);
    border: 1px solid #000;
    border-radius: 20px;
}

.boton-registro{
    width: 250px;
    color: #ffffff;

}


.admin-editar{
    margin: 30px;
    padding: 40px;
    background-color: rgba(138, 235, 218, 0.6);
    border: 1px solid #000;
    border-radius: 20px;
}
