<ion-header>
  <ion-toolbar color="barras">
    <div class="titulo">
      <ion-img src="../../../assets/img/logo.png" alt="" style="width: 30px;" class="logo"></ion-img>
      <ion-title>Descripcion</ion-title>
    </div>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
     <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons> 
  </ion-toolbar>
</ion-header> 


<ion-content [fullscreen]="true">

  <mat-card class="descripcion" appearance="outlined">
    <mat-card-header>
      <!-- <div mat-card-avatar class="marca"></div> -->
      <mat-icon mat-card-avatar svgIcon="{{icono}}"></mat-icon>
      <mat-card-title>{{nombre}}</mat-card-title>
      <mat-card-subtitle class="texto">{{plataforma}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{imagen}}" alt="imagen-juego" class="imagen-descripcion">
    <mat-card-content>
      <p class="desc">
       {{descripcion}}
      </p>
      <mat-card-subtitle class="texto">Precio : ${{precio}}</mat-card-subtitle>
    </mat-card-content>
    <button mat-fab extended class="boton-desc" color="primary" (click)="botonCompra()">
      <mat-icon svgIcon="buy"></mat-icon>
      Comprar
    </button>
    <button mat-fab extended class="boton-desc2" (click)="botonDeseo()">
      <mat-icon>star</mat-icon>
      Añadir a la lista de deseos
    </button>
  </mat-card>

  
</ion-content>

<app-tabs></app-tabs>
