

.menu-editar{
    /*  margin-left: 20px;
     margin-right: 20px; */
     margin-top: 40px;
     background-color: rgba(138, 235, 218, 0.6);
     border: 1px solid #000000;
     border-radius: 15px;
 }
 
 .margenes{
     background-color: aqua;
 }
 
 .carta{
     color: #000000;
     box-shadow: 0 4px 8px rgba($color: #000000, $alpha: 1.0);
     /* background-color: rgba(138, 235, 218, 0.5); */
     background-color: rgba(138, 235, 218, 0.4);
     border: 1px solid #000000;
 }
 
 .botones{
     display: flex;
     justify-content: center;
 }
 
 .boton2{
     box-shadow: none !important;
     color: white;
     background-color: rgba(219, 81, 1, 0.753)
 
 
 }
 
 .boton{
     box-shadow: none !important;
     background-color: rgba(18, 141, 79, 0.705);
     color: white;
     
 }
 