  <ion-header >
  <ion-toolbar color="barras">
    <div class="titulo">
      <ion-img src="../../../assets/img/logo.png" alt="" style="width: 30px;" class="logo"></ion-img>
      <ion-title>Inicio</ion-title>
    </div>
    <!-- <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons> -->
     <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons> 
  </ion-toolbar>
</ion-header> 


<!-- <app-header></app-header> -->

<!-- <ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">inicio</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>

 -->

 <ion-content padding>
  <div class="titulasaso">
    <h1 class="ion-text-center">Ephinea Store</h1>
  </div>
  <div class="logo-grande">
    <ion-img src="../../../assets/img/logo.png" alt="" style="width: 100px;"></ion-img>
  </div>

  <div class="plataformas">
    <ion-grid>
      <ion-title class="ion-text-center ion-padding">Plataformas</ion-title>
      <ion-row>
        <ion-col size="5.5" class="ion-text-center expositor movimiento ion-padding">
          <img src="../../../assets/img/steam.svg" alt="" style="width: 80px;">
          <p>Steam</p>
        </ion-col>
        <ion-col size="5.5" class="ion-text-center expositor movimiento ion-padding">
          <img src="../../../assets/img/nintendo-switch.svg" alt="" style="width: 80px;">
          <p>Switch</p>
        </ion-col>
        <ion-col size="5.5" class="ion-text-center expositor movimiento ion-padding">
          <img src="../../../assets/img/xbox.svg" alt="" style="width: 80px;">
          <p>Xbox</p>
        </ion-col>
        <ion-col size="5.5" class="ion-text-center expositor movimiento ion-padding">
          <img src="../../../assets/img/playstation.svg" alt="" style="width: 80px;">
          <p>Playstation</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="categorias">
    <ion-grid>
      <ion-title class="ion-text-center ion-padding">Categorias</ion-title>
      <ion-row>
        <ion-col class="ion-text-center expositor2 movimiento">
          <img src="../../../assets/img/sword.webp" alt="" style="width: 80px;" [routerLink]="'/categoria'">
          <p>Accion</p>
        </ion-col>
        <ion-col class="ion-text-center expositor2 movimiento">
          <img src="../../../assets/img/chess.png" alt="" style="width: 80px;">
          <p>RPG</p>
        </ion-col>
        <ion-col class="ion-text-center expositor2 movimiento">
          <img src="../../../assets/img/basket.png" alt="" style="width: 80px;">
          <p>Deportes</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <ion-grid>
    <div class="destacados">
      <h1 class="ion-text-center ion-padding">Juegos mas vendidos</h1>
    <ion-row>
      <ion-col size="12">
        <ion-card class="carta">
          <img alt="ffxvi" src="../../../assets/img/ffxvi.jpeg" class="ion-width-100"/>
          <ion-card-header>
            <ion-card-title class="ion-text-center">Final Fantasy XVI</ion-card-title>
          </ion-card-header>
          <h4 class="ion-margin">Playstation<mat-icon svgIcon="play" class="plat"></mat-icon></h4>
          <h5 class="ion-margin">Precio : $40.000</h5>
          <button mat-fab extended class="boton" color="primary" [routerLink]="['/descripcion']" routerLinkActive="router-link-active" >
            <mat-icon svgIcon="buy"></mat-icon>
            Comprar
          </button>
          <button mat-fab extended class="boton2">
            <mat-icon>star</mat-icon>
            Añadir a la lista de deseos
          </button>
        </ion-card>
      </ion-col>
      <ion-col size="12">
        <ion-card class="carta">
          <img alt="ffxvi" src="../../../assets/img/bg3.jpg" class="ion-width-100"/>
          <ion-card-header>
            <ion-card-title class="ion-text-center">Baldurs Gate 3</ion-card-title>
          </ion-card-header>
          <h4 class="ion-margin">Steam<mat-icon svgIcon="steam" class="plat"></mat-icon></h4>
          <h5 class="ion-margin">Precio : $40.000</h5>
          <button mat-fab extended class="boton" color="primary">
            <mat-icon svgIcon="buy"></mat-icon>
            Comprar
          </button>
          <button mat-fab extended class="boton2">
            <mat-icon>star</mat-icon>
            Añadir a la lista de deseos
          </button>
        </ion-card>
      </ion-col>
      <ion-col size="12">
        <ion-card class="carta">
          <img alt="ffxvi" src="../../../assets/img/d4.png" class="ion-width-100"/>
          <ion-card-header>
            <ion-card-title class="ion-text-center">Diablo IV</ion-card-title>
          </ion-card-header>
          <h4 class="ion-margin">Xbox<mat-icon svgIcon="xbox" class="plat"></mat-icon></h4>
          <h5 class="ion-margin">Precio : $40.000</h5>
          <button mat-fab extended class="boton" color="primary">
            <mat-icon svgIcon="buy"></mat-icon>
            Comprar
          </button>
          <button mat-fab extended class="boton2">
            <mat-icon>star</mat-icon>
            Añadir a la lista de deseos
          </button>
        </ion-card>
      </ion-col>
    </ion-row>
  </div> 
  </ion-grid>


  
 </ion-content>


<app-tabs></app-tabs>

 <!-- <ion-footer>
  <ion-toolbar>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button [routerLink]="['/inicio']" routerLinkActive="router-link-active"  tab="inicio">
        <ion-icon name="library"></ion-icon>
        Inicio
      </ion-tab-button>
      <ion-tab-button tab="radio" [routerLink]="['/carro']" routerLinkActive="router-link-active" >
        <ion-icon name="cash-outline"></ion-icon>
        Carro
      </ion-tab-button>
      <ion-tab-button [routerLink]="['/perfil']" routerLinkActive="router-link-active"  tab="home">
        <ion-icon name="person-circle-outline"></ion-icon>
        Mi perfil
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-toolbar>
</ion-footer> -->
 <!-- <ion-footer>
  <ion-toolbar color="dark">
  <h1>holaaaa</h1>
</ion-toolbar>
 </ion-footer> -->


 
<!--  <ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="play-circle"></ion-icon>
      Listen Now
    </ion-tab-button>
    <ion-tab-button tab="radio">
      <ion-icon name="radio"></ion-icon>
      Radio
    </ion-tab-button>
    <ion-tab-button tab="library">
      <ion-icon name="library"></ion-icon>
      Library
    </ion-tab-button>
    <ion-tab-button tab="search">
      <ion-icon name="search"></ion-icon>
      Search
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

 -->


 <!-- <ion-button fill="solid" class="boton" color="secondary">  
              Comprar
              <ion-icon name="card-outline"></ion-icon>
            </ion-button> -->
            <!-- <ion-button fill="solid" class="boton2" color="warning">  
              Añadir a lista de deseos
              <ion-icon name="star-outline"></ion-icon>
            </ion-button> -->