// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/


@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');


:root{
    --ion-font-family: 'Zilla Slab', sans-serif;
}
body{
     /* --ion-background-color: rgb(50, 119, 47);  */
    /* --ion-text-color: #ffffff; */
    ion-content{
        --background: 
    url('../assets/img/fondo-verde5.jpg') no-repeat 
    center/cover;
    }
    
   /*  ion-content.ion-color-secondary{
            --ion-color-base: none !important;
    }
     */
    
    
}

$background-image:url('../assets/img/fondo-verde3.jpg')

/* background-image: url('../assets/img/fondo-verde2.webp');
background-size: cover; 
background-position: center; 
background-repeat: no-repeat; 
 */