<ion-header>
  <ion-toolbar color="barras">
    <div class="titulo">
      <ion-img src="../../../assets/img/logo.png" alt="" style="width: 30px;" class="logo"></ion-img>
      <ion-title>Inicio de sesion</ion-title>
    </div>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> 


<!-- <app-header></app-header> -->

<ion-content [fullscreen]="true">


  <ion-card class="login">
    <ion-card-header>
      <ion-card-title>Login</ion-card-title>
    </ion-card-header>
    <ion-card-content>
    
        <ion-item>
          <ion-label position="floating">Usuario</ion-label>
          <ion-input [(ngModel)]="usuario" name="usuario" type="text" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label  position="floating">Contraseña</ion-label>
          <ion-input  [(ngModel)]="password" name="password" type="password" required></ion-input>
        </ion-item>
        <br>
        <a [routerLink]="['/registro']" routerLinkActive="router-link-active" class="olvidar">Olvidaste tu contraseña? Presiona aqui</a>
        <br>
      <button (click)="verificarLogin()" mat-fab extended class="boton-login ion-padding" color="primary">
        <mat-icon >login</mat-icon>
        Iniciar sesion
      </button>
      <a [routerLink]="['/registro']" routerLinkActive="router-link-active" class="registrar">No tienes una cuenta? Registrate aca</a>

    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer></ion-footer>
