<ion-header >
  <ion-toolbar color="barras">
    <div class="titulo">
      <ion-img src="../../../assets/img/logo.png" alt="" style="width: 30px;" class="logo"></ion-img>
      <ion-title>Administrador</ion-title>
    </div>
   <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons> 
     <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons> 
  </ion-toolbar>
</ion-header> 



<ion-content [fullscreen]="true">

  <ion-grid>
    <div class="menu-editar">
      <h1 class="ion-text-center ion-padding">Juegos registrados</h1>
    <ion-row>
      <ion-col size="12" *ngFor="let x of arregloJuegos">
        <ion-card class="carta">
          <ion-card-header>
            <ion-card-title class="ion-text-center">{{x.nombre_juego}}</ion-card-title>
          </ion-card-header>
          <div class="botones ion-margin">
            <button mat-fab extended class="boton" (click)="irEditar(x.id_juego)" >
              <mat-icon>edit</mat-icon>
              Editar
            </button>
            <button  style="margin-left: 10px;" mat-fab extended class="boton2" color="primary" (click)="botonEliminar(x.id_juego)">
              <mat-icon svgIcon="trash"></mat-icon>
              Eliminar
            </button>
            </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </div> 
  </ion-grid>


</ion-content>
